.calc-key{
    display: inline-block;
    background-color:#faf8f8;
    font-size:30px;
    padding: 20px;
    margin: 5px;
    border: none;
}
.calc-key:hover{
    background-color: rgb(214, 205, 205);
    border-radius: 30px;

}

.expanded {
    grid-column: 1/3;
}